.btn-large{
  height: 120%;
  text-align: center;
  margin: 5%;

}

.landing-page{
  display: block;
}

.switch-page{
  display: none;
}

.search-page{
  display:none;
}

.search-confirm-page{
  display:none
}

.search-specs-page{
  display:none;
}
